:root {
      font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
      line-height: 1.5;
      font-weight: 400;
      height: 100%;

      color-scheme: light dark;
      color: rgba(255, 255, 255, 0.87);
      background-color: #242424;

      font-synthesis: none;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-text-size-adjust: 100%;

      --scrollbar-auto-thumb: #242424
}

a {
      font-weight: 500;
      color: #646cff;
      text-decoration: inherit;
}
a:hover {
      color: #535bf2;
}
* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}
body {
      height: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      place-items: center;
      min-width: 320px;
      min-height: 100vh;
}

h1 {
      font-size: 3.2em;
      line-height: 1.1;
}

button {
      border-radius: 8px;
      border: 1px solid transparent;
      padding: 0.6em 1.2em;
      font-size: 1em;
      font-weight: 500;
      font-family: inherit;
      background-color: #1a1a1a;
      cursor: pointer;
      transition: border-color 0.25s;
}
button:hover {
      border-color: #646cff;
}
button:focus,
button:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
}
@media (prefers-color-scheme: light) {
      :root {
            color: #213547;
            background-color: #ffffff;
      }
      a:hover {
            color: #747bff;
      }
      button {
            background-color: #f9f9f9;
      }
}
.cm-theme-dark,
.cm-theme-light,
.cm-theme-none {
      height: 100%;
}

.cm-scroller {
      -ms-overflow-style: none;
      scrollbar-width: none;
}
.cm-scroller::-webkit-scrollbar-thumb,
.cm-scroller::-webkit-scrollbar-track {
      border: 4px solid transparent;
      background-clip: padding-box;
      border-radius: 8px;
}
.cm-scroller::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-auto-thumb);
      min-height: 40px;
}
.cm-scroller::-webkit-scrollbar-corner {
      background-color: transparent;
}
.cm-scroller::-webkit-scrollbar {
      width: 16px;
      height: 16px;
}
.cm-scroller::-webkit-scrollbar-track {
      background-color: var(--scrollbar-auto-track);
}

.thin-scrollbar::-webkit-scrollbar {
      width: 8px;
      height: 8px;
}
